* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  min-height: calc(100dvh + env(safe-area-inset-top));
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
}
