/* popUp container size with active animation */
.popUp {
  height: 100dvh;
  width: 100vw;
  position: relative;
  z-index: 5;
  background-color: white;
  transition: transform 0.2s linear;
  overflow: hidden;
}
.active {
  transform: translateY(-100%);
}
.mapContainer {
  height: 90dvh;
  width: 100vw;
}
.header {
  height: 10dvh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  padding: 10px 20px;
}
@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
  .header {
    height: 10vw;
    width: 100dvh;
  }
  .popUp {
    height: 100vw;
    width: 100dvh;
  }
  .mapContainer {
    height: 90vw;
    width: 100dvh;
  }
}
/***************************************************/

/* header section */
.routeTitle {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.routeName {
  max-width: 270px;
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis;
}
.closeButton {
  flex: 1;
  color: white;
}
.header::after {
  content: "";
  flex: 1;
}
/***************************************************/
